.food-detail-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .food-detail-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .food-detail-image:hover {
    transform: scale(1.05); /* Slight zoom effect */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Added shadow for depth */
  }
  
  .food-detail-title {
    font-size: 2rem;
    margin-top: 20px;
    color: #333;
    font-weight: bold;
  }
  
  .food-detail-description {
    margin-top: 10px;
    color: #555;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .food-detail-price {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #e53935;
  }
  
  .food-detail-button {
    margin-top: 25px;
    padding: 12px 30px;
    font-size: 16px;
    background-color: tomato;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease-in-out;
  }
  
  .food-detail-button:hover {
    background-color: #ff684d; /* Button color change on hover */
    transform: scale(1.05); /* Slight scale effect on hover */
  }
  
  .food-detail-message {
    text-align: center;
    padding: 50px;
    font-size: 20px;
    color: gray;
  }
  